<app-layout></app-layout>
<app-admin-sidebar></app-admin-sidebar>

<div class="container d-flex justify-content-center table-box">

    <form class="border-box position-relative" #ngForm (ngSubmit)="OnSubmit()">

        <span class="border-box-tip"><b>Add Awards</b></span>

        <div class="row g-3 align-items-center justify-content-center mb-3">
            <div class="col-auto p-1.5">
                <label  class="col-form-label">Award Name</label>
                <input type="text" #name="ngModel" required pattern="^[a-zA-Z][a-zA-Z\s]{0,20}[a-zA-Z]$" class="form-control" name="awardName" [(ngModel)]="AwardType.awardName">
                <div *ngIf ="name.touched && name.errors" class="alert alert-danger">
                    Award Name is Required!
                </div>
                <div *ngIf ="name.touched && name.errors" class="alert alert-danger" >
                    Award Name is invalid!
                </div>
            </div>
        </div>
        <div class="row g-3 align-items-center justify-content-center mb-3">
            <div class="col-auto p-1.5">
                <label  class="col-form-label">Award Description</label>
                <input type="text" #description="ngModel" required class="form-control" name="awardDescription" [(ngModel)]="AwardType.awardDescription">
                <div *ngIf ="description.touched && description.invalid" class="alert alert-danger">Award Description is Required!</div>
            </div>
        </div>
        <div class="row g-3 align-items-center justify-content-center mb-3">
        <div class="col-auto p-1.5">
            <label class="col-form-label">Award Image</label>
            <input type="file" (change)="ImageConversion($event)" class="fileInputProfile" name="image" >
            <label class="text-danger"> {{imageError}}</label>

        </div>
    </div>


        <div class="row justify-content-center align-items-center mt-5 button-group">
            <button  type="submit" class="btn btn-primary col-lg-2">Add</button>
            <button  [routerLink]="['../awards']" class="btn btn-danger col-lg-2">Cancel</button>
        </div>
    </form>
</div>

